<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>German Notes - Doruk's Homepage</title>
  <link rel="stylesheet" type="text/css" href="../main.css" />
</head>


<body>

  <div id="app">


    <div class="container">
      <table>
        <caption>German Vocabulary</caption>
        <thead>
          <tr>
            <th>German</th>
            <th>English</th>
            <th>Pronounication</th>

          </tr>
        </thead>
        <tbody>

          <tr v-for="word in vocabulary">
            <td>{{word.german}}</td>
            <td>{{word.english}}</td>
            <td>{{word.pronounced}}</td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="container">


      <table>
        <caption>German Phrases</caption>
        <thead>
          <tr>
            <th>German</th>
            <th>English</th>
          </tr>
        </thead>
        <tbody>

          <tr v-for="phrase in phrases">
            <td>{{phrase.german}}</td>
            <td>{{phrase.english}}</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>


  <script src="../vue.js">

  </script>

  <script>
    var app = new Vue({
      el: "#app",

      data: {

        vocabulary: [{
            german: "es ist",
            english: "it is",
            pronounced: "es ist"
          },
          {
            german: "ganz",
            english: "absolutely",
            pronounced: "gantz"
          },
          {
            german: "fantastisch",
            english: "fantastic",
            pronounced: "fantastiş"
          },
          {
            german: "sehr",
            english: "very",
            pronounced: "zer"
          }, {
            german: "gut",
            english: "good",
            pronounced: "gut"
          }, {
            german: "nicht",
            english: "not",
            pronounced: "nikt/niht"
          }, {
            german: "hier",
            english: "here",
            pronounced: "hiya(h)"
          }, {
            german: "lecker",
            english: "delicious",
            pronounced: ""
          }, {
            german: "aussergewöhnlich",
            english: "extraordinary",
            pronounced: ""
          },
          {
            german: "schön",
            english: "beautiful",
            pronounced: ""
          }, 
          {
            german: "für mich",
            english: "for me/in my opinion",
            pronounced: ""
          },
        //   {
        //     german: "",
        //     english: "",
        //     pronounced: ""
        //   },
        ],






        phrases: [{
            german: "es ist ganz fantastisch	",
            english: "it is absolutely fantastic"
          },
          {
            german: "es ist sehr gut hier",
            english: "it is very good here"
          }, {
            german: "es ist nicht",
            english: "it is not"
          }, {
            german: "es ist gut",
            english: "it is good"
          }, {
            german: "es ist ganz fantastisch hier",
            english: "it is absolutely fantastic here"
          }, {
            german: "es ist nicht gut hier",
            english: "it is not good here"
          }, {
            german: "es ist nicht gut; es ist fantastisch",
            english: "it is not good; it is fantastic"
          }, {
            german: "es ist fantastisch",
            english: "it is fantastic"
          }, {
            german: "es ist sehr schön hier",
            english: "it is very beautiful here"
          }, {
            german: "es ist gut für mich",
            english: "it is good for me"
          }, {
            german: "für mich ist es gut",
            english: "i think it is good"
           }, 
        //    {
        //     german: "",
        //     english: ""
        //   }
        ]
      }
    });

  </script>
</body>

</html>
