body {
  font-family: "Courier New", Courier, monospace;
}

.container {
  background-color: LightGray;
  padding: 15px;
  margin: 15px;
}

#links a {
  text-decoration: none;
}

li {
  padding: 4px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

table caption {
  font-size: 24px;
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  border-collapse: collapse;
}

table th {
  border: 1px solid black;
  border-collapse: collapse;
}
