body {
  font-family: "Courier New", Courier, monospace;
}

.container {
  background-color: LightGray;
  padding: 15px;
  margin: 15px;
}

#links a {
  text-decoration: none;
}

li {
  padding: 4px;
}
